{% extends 'base.html.twig' %}

{% block body %}
    {% if customers | length > 0 %}
        {% for customer in customers %}
            <table class="table table-bordered">
                <tr>
                    <td colspan=2 class="text-center text-uppercase"><b>информация про клиента</b></td>
                </tr>
                <tr>
                    <td>название клиента</td>
                    <td>{{ customer.nameCustomer }}</td>
                </tr>
                <tr>
                    <td>компания</td>
                    <td>{{ customer.company }}</td>
                </tr>
                {% if customer.contracts | length > 0 %}
                    {% for contract in customer.contracts %}
                        <tr>
                            <td colspan="2">
                                <table class="table table-bordered">
                                    <tr>
                                        <td colspan=2 class="text-center text-uppercase"><b>информация про договор</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>номер договора</td>
                                        <td>{{ contract.number }}</td>
                                    </tr>
                                    <tr>
                                        <td>дата подписания</td>
                                        <td>{{ contract.dateSign |date('Y-m-d') }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan=2 class="text-center text-uppercase"><b>информация про сервисы</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        {% if contract.services | length > 0 %}
                                            <td colspan="2">
                                                {% for service in contract.services %}
                                                    {{ service.titleService }} <br>
                                                {% endfor %}
                                            </td>
                                        {% else %}
                                            <td colspan="2">
                                                No services
                                            </td>
                                        {% endif %}
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2">No Contracts</td>
                    </tr>
                {% endif %}
            </table>
        {% endfor %}
    {% else %}
        No documents for print
    {% endif %}
{% endblock %}